*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    
    color: orange;
}
.first
{
    min-height: 100vh;
    width: 100%;
    background-color:black ;
    background-image: url(siren.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    padding:0 8% ;
}
nav
{
    display:flex ;
    align-items: center;
    justify-content:space-between ;
    padding: 20px 0px;
}
nav ul li
{
    display:inline-block; 
    list-style:none;
    margin:10px 10px;
}
nav ul li a
{
    color: orange;
    text-decoration: none;
}
.first h1
{
    color: orange;
    font-size: 75px;
    margin-top: 12%;
    background: none;
}
.first button
{
    background: none;
    border: 2px solid orange;
    outline: none;
    padding: 15px 35px;
    color: white;
    margin-top:25px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;

}
.second
{
    background-color:black;
    position: relative;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.second h2
{
    background:none;
    color: orange;
    font-size: 60px;
    text-align: left;
    margin-left: 10%;
}
.second p
{
    background: none;
    color: orange;
    text-align: left;
    margin-left: 10%;
}
.second .image
{
    margin: 0% 10% 0% 0%;
    border: 2px solid orange;
    transition: all 0.25s;
}
.image:hover
{
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c ;
    transform: translate(-0.25em);
}
.third
{
    background-color:black;
    
    color: orange;
}
.third h1
{
    text-align: center;
}
.third p
{
    display: flex;
    align-items: center;
    margin-left:24% ;
    margin-right:10% ;
}
.fourth
{
    background-color: black;
    padding: 20px;   
}
#faq
{
  text-align: center;
}
.team
{
    align-items: center;
}
.fifth
{
    background-color:black;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
}
.column {
  width: 100%;
  padding: 0.5em 0;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: #1f003b;
}
.card {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
}
.card .img-container {
  width: 8em;
  height: 8em;
  background-color: orange;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card .team {
  width: 100%;
  border-radius: 50%;
}
.card h3 {
  font-weight: 500;
}
.card p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.card:hover {
  background: linear-gradient(white, orange);
  color: #ffffff;
}
.card:hover .img-container {
  transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}


h1{
    margin-bottom: 40px;
    color: orange
}

h2{
    color: white
}

.faq{
    padding: 20px 30px;
    border: 2px solid white;
    border-radius: 5px;
    color: #979797;
    position: relative;
    line-height: 1.5em;
    margin-top: 15px;
}

.faq .faq_text{
    width: 90%;
}

.btn{
    color: white;
    position: absolute;
    right: 25px;
    top: 35px;
    font-weight: 400;
    font-size: 1.4em;
    cursor: pointer;
}

/* Hide p tags */
.faq.open h2{
    color: orange;
}

.faq p{
    display: none;
    font-weight: 300;
}

.faq.open p{
    display: block;
}
.faq.open .btn{
    color: orange
}
.third2 {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, orange 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }
  p {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: orange;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: orange;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #2c7bfe;
  }
  .card:hover h3 {
    color: #ffffff;
  }
  .card:hover p {
    color: #f0f0f0;
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
  .container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: black;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: orange;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
.wrapper{
  margin-top: 50px;
}

.wrapper h1{
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}
img { border-radius: 50%; }
}
